spring:
  application:
    name: tyme-payment-service
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: localhost
      port: 6379


app:
  idempotency:
    ttl-duration: 24h  # Spring Boot can parse "24h", "60m", etc.
    lock-duration: 2m